
  <ul class="daily-forecast-heading-wrapper">
    <button class="next-seven-days" name="next-seven" {{action "toggleDailyWeather"}}>Next 7 Days</button>
  </ul>

  <ul class="weather-forecast-daily">

    {{#each daily as |daily|}}
    <li class="daily-forecast">
      <i class="wi wi-day-sunny-overcast daily-icon"></i>
      <p class="daily-summary">{{daily.summary}}</p>
      <p class="high-temp">H: {{daily.temperatureMax}}&#176;'</p>
      <p class="low-temp">L: {{daily.temperatureMin}}&#176;</p>
    </li>
    {{/each}}

  </ul>

{{yield}}
