
<ul class="hourly-forecast-heading-wrapper">
    <button class="next-twelve-hours" name="next-twelve" {{action "toggleHourlyWeather"}}>Next 12 Hours</button>
</ul>


<ul class="weather-forecast-hourly">

  {{#each this.hourly as |hourly|}}
  <li class="hourly-forecast">
    <i class="wi wi-day-sunny-overcast daily-icon"></i>
    <p class="hourly-time">{{hourly.time}}</p>
    <p class="hourly-temp">{{hourly.temperature}}&#176;</p>
    <p class="hourly-precip-prob">{{hourly.precipProbability}}</p>
  </li>
  {{/each}}


</ul>

{{yield}}
