<div class="weather-right-now">
  <h1 class="current-temperature">{{current.temperature}}&#176;</h1>
  <h3 class="summary">{{current.summary}}</h3>
  <h5 class="current-time">{{current.time}}</h5>
  <h5 class="precip-prob">{{current.precipProbability}}</h5>
</div>

{{yield}}
