{{log model}}

<div class="weather-info-container">

  {{weather-main current=model.currently}}

  {{hourly-forecast hourly=this.model.hourly.data}}

  {{daily-forecast daily=this.model.daily.data}}

</div>



{{outlet}}
